<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<!-- bean definitions here -->
<beans default-init-method="init" default-destroy-method="cleanup">
	<bean id="triangle" class="com.skbh.spring.Triangle" name="triangle-name" >
		<property name="type" value="Equilateral" />
		<property name="pointA" ref="point1"/>		
			<property name="pointB">
			<bean class="com.skbh.spring.Point">
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>
		</property>

		<property name="pointC">
			<bean id="point3" class="com.skbh.spring.Point">
				<property name="x" value="20" />
				<property name="y" value="0" />
			</bean>

		</property>

		
	</bean>

	<bean id="point1" class="com.skbh.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<alias name="triangle" alias="triangle-alias" />



</beans>